:root{
    --primary:#b88e2f;
    --seccondry:#000;
    --font-familt:"poppins",sans-serif;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{ text-decoration: none;
}
body{ 
    font-family:var(--font-familt)
}
ul,ol{ list-style: none;
}
.container{
    max-width: 1240;
   margin :auto; 
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.btn-primary{
    background-color: #777;
    padding: 12px 36px;
    display: inline-block;
    font-family: var(--second-family);
    font-weight: 600;
font-size: 16px;
line-height: 150%;
color: #fff;
nav .logo{
    width: 20%;
}
nav .menu{
    width:50%;
text-align:center;
}
nav .menu ul{ 
    justify-content: center;
}
nav .menu a{
    padding:38px 37.5px;
    display:block;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
nav .quicklink{
    width: 30%;
    text-align: right;
}
nav .container > .row{ 
    align-items: center;
}
nav .quicklink a{
    color: black;
    font-size: 23px;
    padding: 0 22.5px;
    display: inline-block;
}
#banner{
    background-image: url(../scandinavian-interior-mockup-wall-decal-background\ 1\ \(1\).png);
    height: 716px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.bannercnt{
    max-width: 643px;
    background-color: #f9920c;
    border-radius: 10px;
    padding: 62px 40px 37px;
    position: absolute;

top: 157px;
right: 58px;

}
.bannercnt h5{
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
letter-spacing: 0.19em;
color: #333;

}
.bannercnt h2{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 52px;
    line-height: 125%;
    color: var(--primary);
    margin: 4px 0 17px;
}
.bannercnt p{font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: #333;
    margin-bottom: 37px;

}



